<h1>Sessions#new</h1>
<%= form_with url: sessions_path, scope: 'login' do |form| %>
  <%= form.email_field :email, placeholder: 'E-Mail' %>
  <%= form.password_field :password, placeholder: 'Password' %>
  <%= form.submit "Log In" %>
<% end %>
